body{
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}
.elements{
    display:grid;
    grid-template-columns: 120px 120px 120px 120px 120px;
    grid-gap: 20px;
    margin-top: 50px;
    justify-content: center;

}